In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('titanic.csv', usecols=['SibSp', 'Parch'])

In [5]:
df.head()

   SibSp  Parch
0      1      0
1      1      0
2      0      0
3      1      0
4      0      0

In [6]:
df['Family_size'] = df['SibSp'] + df['Parch'] +1

In [7]:
df.head()

   SibSp  Parch  Family_size
0      1      0            2
1      1      0            2
2      0      0            1
3      1      0            2
4      0      0            1

In [ ]:
def func(num):
    if num == 1:
        return 0
    elif num > 1 and num <4: