# KNN IMPUTER

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer

In [7]:
df = pd.read_csv('titanic.csv')[['Age','Pclass','Fare','Survived']]

In [8]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [9]:
df.isnull().sum()

Age         177
Pclass        0
Fare          0
Survived      0
dtype: int64

In [11]:
x = df.drop(columns='Survived')
y= df['Survived']

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
knnimpute = KNNImputer(n_neighbors=3, weights='distance')

In [14]:
x_train_imputer = knnimpute.fit_transform(x_train)

In [15]:
x_test_imputer = knnimpute.transform(x_test)

In [18]:
pd.DataFrame(x_train_imputer, columns=x_train.columns).isnull().sum()

Age       0
Pclass    0
Fare      0
dtype: int64

# Iterative impute make self