In [1]:
import pandas as pd
import requests
import json

# 1. Working with the json

In [2]:
pd.read_json("https://blockchain.info/latestblock")[['time','block_index','height']]

           time  block_index  height
0    1740855861       885893  885893
1    1740855861       885893  885893
2    1740855861       885893  885893
3    1740855861       885893  885893
4    1740855861       885893  885893
..          ...          ...     ...
493  1740855861       885893  885893
494  1740855861       885893  885893
495  1740855861       885893  885893
496  1740855861       885893  885893
497  1740855861       885893  885893

[498 rows x 3 columns]

# 2. working with the sql

In [3]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in ./venv/lib/python3.11/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

# ! mysql -u king -p < address.sql

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="king",
  password="1234567890",
    database='hospital',
    
)

In [6]:
pd.read_sql_table("SELECT * From information", mydb)

/tmp/ipykernel_90431/2974004287.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_table("SELECT * From information", mydb)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement

In [4]:
import pandas as pd
import requests

response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]


df = pd.DataFrame()

for i in range(1,50):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    pd.concat([df, temp_df],ignore_index=True)

df.to_csv('movies.csv')

AttributeError: 'DataFrame' object has no attribute 'concat'